* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	place-items: center;
	margin: 0;
    margin-top: 100px;
	padding: 0;
	/* background: linear-gradient(to right, #008000, #00e600, #b3ffb3, #00e600, #008000); */
	font-family: 'Martel Sans', sans-serif;
}

main{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-evenly;
}

h1 {
	font-size: 5.25vmin;
	text-align: center;
	color: white;
}
p {
	font-size: max(10pt, 2.5vmin);
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 85vmin;
	height: 25em;
	/* border: 8px solid; */
	/* border-image: linear-gradient(-50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green) 1; */
	margin: 2rem auto;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
    box-shadow: 3px 3px 3px #300060;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #27232C;
	transition: .4s ease-in-out;
	z-index: 1;
   
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 15vmin;
	height: 100%;
	padding: .5rem 0 0 .5rem;
	border: 3px solid;
	border-image:
    	linear-gradient(
      	to bottom,
      	#80FF00 5%,
      	#00FF3F 35% 65%,
      	#00FFBF 95%
    	) 0 0 0 100%;
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.image-hombro-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/pressmilitar.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-hombro-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/entrenamiento_hombro_gym-1389895261.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-hombro-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/hombro-frontal.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-hombro-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/face-pull.jpeg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-abdomen-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/pla.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-abdomen-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/abdomen-lateral.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-abdomen-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/mujer-abdominales-m.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-abdomen-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/92857457-ajuste-hombre-torso-ascensor-entrenar-los-músculos-abdominales-entrenamiento-en-el-gimnasio-joven.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-biceps-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/curl-barra.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-biceps-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/curl-normal.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-biceps-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/curl-predicador.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-biceps-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/curl-recto.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pecho-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/maquina-pecho.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pecho-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/press-banca.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pecho-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/press-inclinado.jpeg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pecho-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/poleas.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pierna-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/squats.jpeg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pierna-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/cuadriceps.jpeg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pierna-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/prensa.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-pierna-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/gemelos.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-triceps-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/fondos-barra.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-triceps-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/fondos-triceps.jpeg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-triceps-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/extension-barra.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-triceps-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/entrenamiento-triceps1.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.image-espalda-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/remo.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-espalda-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/remo\ con\ mancuerna.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-espalda-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/domindas-1.jpeg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-espalda-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/jalon+al+pecho.png");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.image-cardio-1 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/cinta.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-cardio-2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/eliptica.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-cardio-3 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/escaleras.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


.image-cardio-4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	background-image: url("../assets/img/bici.jpg");
	background-size: cover;
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}


/* .dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
} */

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 60vmin;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y: scroll;
}

.wrap:hover .overlay
 {
	transform: translateX(-60vmin);
}
.wrap:hover .image-content {
	width: 30vmin;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(60vmin);
}




/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.slide-up {animation-name: slide-up;}
@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(3em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}